/** Police **/
@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
body {
    font-family: 'gothic';
    text-rendering: geometricPrecision;
}

/** Mixins **/
a {
    color: #1b67a5 !important;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #0e385a !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/** Header **/
.header {
 z-index: 9999;
}

.header a{
    padding:25px;
    font-size: 17px;
    font-weight: 900;
    position: relative;
}

.header a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: #0e385a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header .col-md-8 {
    padding-top:25px;
}

.header .col-md-3 {
    z-index: 9999;
}

/** Footer **/
.footer {
    background-color: #32679a;
    color: white;
}

.footer h3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .email-logo {
    margin: 40px auto;
    display: block;
}

.footer .social-footer img{
    padding-right: 5px;
}

.footer .btn-footer {
    padding:10px 70px 10px 70px;
    background-color: #f89838;
    color: white !important;
}

/** Homepage - Banner **/
.banner {
    padding-left: 0;
    padding-right: 0;
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-top: -20px;
    background-attachment: fixed;
}

.banner .col-md-2 {
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 300px;
}

.banner .col-md-8 {
    color: white;
    font-family: 'gothic';
    font-size: 19px;
}


/** Homepage - Missions **/
.mission, .don {
    color: #1b67a5;
}

.mission h1 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 65px;
}

.mission .underline {
    width: 150px;
    height: 7px;
    background-color: #1b67a5;
    margin: 0 auto;
    margin-bottom: 105px;
}

.mission-item img {
    height: 70px;
    margin-bottom: 35px;
}
.mission-item p {
    margin-bottom: 35px;
}
.mission-item a {
    padding:10px 70px 10px 70px;
    background-color: #f89838;
}

/** Homepage - Don **/
.don h1 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 135px;
}

.don .underline {
    width: 150px;
    height: 7px;
    background-color: #1b67a5;
    margin: 0 auto;
    margin-bottom: 75px;
}

.don .col-md-6 {
    padding: 0;
}
.banner-don-img{
    width: 50%;
    height: 35vw;
    background-image: url('../img/banner-don.png');
    background-size: cover;
    background-position: center;
}

.banner-don {
    height: 35vw;
    background-color: #a1a2a4;
    color: white;
    padding-left:45px !important;
    padding-top:25px !important;
}

.banner-don .underline {
    width: 90px;
    height: 7px;
    background-color: white;

    margin: inherit;
}

.banner-don p {
    margin-top: 35px;
    margin-bottom: 55px;
    font-size: 17px;
}

.banner-don a {
    padding:12px 75px 12px 75px;
    color: white !important;
    font-size: 19px;
    background-color: #f89838;
}