<div class="col-md-12 footer">
    <div class="col-md-2 col-md-offset-1">
        <h3>Contact</h3>
        <p>Lycée du Parc</p>
        <p>1 boulevard Anatole France</p>
        <p>69 458 Lyon Cedex 06</p>
        <a href=""><img src="{{ asset('assets/img/email.png') }}" class="email-logo"></a>
    </div>
    <div class="col-md-2 col-md-offset-1 social-footer">
        <h3>Suivez-nous</h3>
        <a href=""><img src="{{ asset('assets/img/facebook-logo-button.png') }}"></a>
        <a href=""><img src="{{ asset('assets/img/twitter-logo-button.png') }}"></a>
        <a href=""><img src="{{ asset('assets/img/linkedin-logo.png') }}"></a>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <h3>Newsletter</h3>
        <a href="" class="btn-footer">Je m'inscris</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <h3>La fondation</h3>
        <a href="#" class="btn-footer">Faire un don</a>
    </div>
</div>

<script>
    sr.reveal('.footer');
</script>