<div class="header col-md-12">
    <div class="col-md-3 col-md-offset-1">
        <img class="logo" src="{{ asset('assets/img/logo.jpg') }}"/>
    </div>
    <div class="col-md-8 text-right">
        <a href="#">Accueil</a>
        <a href="#">Les missions</a>
        <a href="#">La fondation</a>
        <a href="#">Bourses</a>
        <a href="#">Faire un don</a>
        <a href="#">Les actus</a>
    </div>
</div>
<script>
    window.sr = ScrollReveal({ duration: 1000 });
    sr.reveal('.header');
</script>