{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
{% include ':elements:header.html.twig' %}
    <div class="banner col-md-12 text-center">
        <div class="col-md-2 col-md-offset-5 banner-text">
            <p>logo font blanc</p>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center banner-text">
            <p>
                Par délibération du mardi 16 juin 2015, le conseil d’administration de la Fondation pour l’Université de Lyon a accepté d’accueillir en son sein la Fondation Lycée du Parc.

                La Fondation Lycée du Parc devient donc une fondation sous égide de la Fondation pour l’Université de Lyon.

                À travers cette fondation, le lycée du Parc a pour ambition d’encourager et de favoriser la scolarité de ses élèves autour des valeurs d’excellence, de tradition et d’humanisme.
            </p>
        </div>
    </div>
    <div class="col-md-12 text-center mission">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>LES MISSIONS</h1>
                <div class="underline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mission-item">
                <img src="{{ asset('assets/img/group-of-men.png') }}">
                <h3>Ouverture sociale</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in neque eget mi rhoncus tincidunt. Phasellus tristique metus id tellus faucibus, vel lacinia mi interdum. Pellentesque quis lorem vehicula, posuere mi a, vulputate neque. Duis dignissim aliquet diam a laoreet. Nunc sagittis enim et est pellentesque, id blandit nulla efficitur.
                </p>
                <a href="#">En savoir plus</a>
            </div>
            <div class="col-md-4 mission-item">
                <img src="{{ asset('assets/img/world.png') }}">
                <h3>Rayonnement international</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in neque eget mi rhoncus tincidunt. Phasellus tristique metus id tellus faucibus, vel lacinia mi interdum. Pellentesque quis lorem vehicula, posuere mi a, vulputate neque. Duis dignissim aliquet diam a laoreet. Nunc sagittis enim et est pellentesque, id blandit nulla efficitur.</p>
                <a href="#">En savoir plus</a>
            </div>
            <div class="col-md-4 mission-item">
                <img src="{{ asset('assets/img/aparment.png') }}">
                <h3>Rénovation du lycée</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in neque eget mi rhoncus tincidunt. Phasellus tristique metus id tellus faucibus, vel lacinia mi interdum. Pellentesque quis lorem vehicula, posuere mi a, vulputate neque. Duis dignissim aliquet diam a laoreet. Nunc sagittis enim et est pellentesque, id blandit nulla efficitur.</p>
                <a href="#">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-12 don">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4">
                <h1>FAIRE UN DON</h1>
                <div class="underline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 banner-don-img">
            </div>
            <div class="col-md-6 banner-don">
                <h3>Lorem ipsum</h3>
                <div class="underline"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in neque eget mi rhoncus tincidunt. Phasellus tristique metus id tellus faucibus, vel lacinia mi interdum. Pellentesque quis lorem vehicula, posuere mi a, vulputate neque. Duis dignissim aliquet diam a laoreet. Nunc sagittis enim et est pellentesque, id blandit nulla efficitur.</p>
                <a href="#">Faire un don</a>
            </div>
        </div>
    </div>


    {% include ':elements:footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script>
        sr.reveal('.banner');
        sr.reveal('.banner-text', { delay: 600 });
        sr.reveal('.mission', { origin: "top", distance: '40px' });
        sr.reveal('.mission-item', { delay : 800, origin: "bottom", distance: '40px' });
        sr.reveal('.don', { origin: "top", distance: '40px' });
        sr.reveal('.banner-don-img', { delay : 800, origin: "bottom", distance: '40px' });
        sr.reveal('.banner-don', { delay : 800, origin: "bottom", distance: '40px' });
    </script>
{% endblock %}